@font-face {
    font-family: 'Kollektif';
    src: url('./assets/fonts/Kollektif.ttf')  format('truetype');
  }
  @font-face {
    font-family: 'Pirou-Regular';
    src: url('./assets/fonts/Pirou-Regular.otf') format('opentype') ;
  }

  h2{
      font-family: 'Kollektif';
      font-weight: 100;
      font-size: medium;
  }

  h3 {
  font-family: 'Pirou-Regular';
  font-weight: 200;
  font-size: larger;
}

p{
  font-family: 'Kollektif';
  font-weight: 100;
  font-size: medium;
}

.nav-link{
  font-family: 'Pirou-Regular';
  font-weight: 100;
  font-size: large;
  color:#654321;
}

.nav-link:hover{
  color:#fada24
}

i{
  color: #000000

}


.card :hover{
  transform: scale(1) ;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-1{
  background-image: url(./assets/towels.jpeg);
   
   
}

.card-2{
  background-image: url(./assets/coinlaundry.jpeg);
    
}

.card-3{
  background-image: url(./assets/coffee.jpg);
  
}

