@font-face {
    font-family: 'Kollektif';
    src: url('/assets/fonts/Kollektif.ttf')  format('truetype');
  }
  @font-face {
    font-family: 'Pirou-Regular';
    src: url('/assets/fonts/Pirou-Regular.otf')  format('opentype');
  }

  h3 {
  font-family: 'Pirou-Regular';
}